/*:root {

}*/

html {
    font-size: 62.5%; /* Tamaño de los REM */
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-image: url(../image/8fb7ea5d69fc4c1eec882a912498adb3.jpg);
    background-size: 100%;
    font-size: 16px;
    font-family: "space mono";
}

h1, h2, p {
    text-align: center;
    color: rgb(32, 32, 32);
}

h2 {
    margin: 1em 0em 1.5em 0em;
}

p {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .15);
    padding: 15px;
    font-size: 12px;
    border-radius: 15px;
}

div {
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
}

a {
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
}

span {
    font-size: 10px;
}

.boton1, .boton2 {
    width: 15em;
    padding: 1.5em;
    margin: 10px 15px 0px 15px;
    border-radius: 15px;
}

.boton1 {
    background-color: #f74d4d;
}

.boton2 {
    background-color: #58c256;
}